body{
    background: #D1FDF8;
}

.container{
    padding-top: 20px ;
}

.title{
    font-family: Mulish;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 150px;
    color: #10333E;
    height: 120px;
}

.kotak{
    margin-bottom: 20px ;
}

.image{
    margin: 2px;
}