{% extends 'story9/base.html' %}

{% block content %}


<div class = "container-sm">
    <div class = "row">
        <div class = "col-md-6">
            <h1 class="wellcom one"> WELCOME, </br>
             </h1>
            {% if user.is_authenticated %}
                <h1 class= "wellcom">  {{ user.username }} </h1>
            <h4 class = "yellow"> Nothing to see? Just <a href ="{% url 'story9:logout' %}" class = "red">Log Out</a> 
            </h4>
            {% else %}
            <h1 class= "wellcom"> (y/n) <h1>
            <h4 class = "yellow"> You are not in the SYSTEM! </br>
            Please<a href ="{% url 'story9:login' %}">  <strong span class="red">  Log In  </strong> </a> with your account!
            </br> Don't have any account? <a href ="{% url 'story9:signup' %}"> <strong span class = "red"> Sign Up </strong></a>now!
            </h4>
        </div>
        
        {% endif %}
    </div>
</div>
{% endblock %}