<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Hello</title>
</head>
<body>
  <header>
  <!-- kolom kiri -->
    <p class="hehe">
      <img src="{% static 'home/image.jpeg' %}" alt="EbaAja" style="width:170px;height:200px;margin-left:50px;" />
      <h1>hi, i'm<br/>eba(aja)</h1>
      <h4>learning how to code</br> is my daily bread</h4>
    </p>
    <div>
      <ul class="cerita">
        <li>My Student ID is 1906398875</li>
        <li>I'm an undergraduate student at Faculty of Computer Science University of Indonesia</li>
        <li>I went to Saint Thomas Elementary, Junior High, and Senior High School</li>
        <li>Well, i love to sing, even tho it cracked most of the time</li>
        <li>If you wanna know me more, hmu at anebaemiya(ig and line), </br>and we could talk it out</li>
        <a href="index.html#home">Click here to go back</a>
      </ul>
    </div>

    </header>
      <footer>
        <h2>any questions?</br>
        find me here eba.br@ui.ac.id</br>
        <ul class = "coba"> designed by eba ginting </ul>
        </h2>
      </footer>
</body>
</html>
