{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'story7/styless.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Eba Ginting</title>

</head>
<body>

<h1 class="apa"> EXperience </h1>


<div class="wrapper">

    <div class="accordion_wrap">
        <div class="accordion_header">
        Staff of Art and Culture Department at BEM Fasilkom UI
        <a href="#" class="reorder-up"><i class="fa fa-arrow-circle-o-up"></i></a><a href="#" class="reorder-down"><i class="fa fa-arrow-circle-o-down"></i></a>
        </div>
        <div class="accordion_body">
            <p> This year, i'm given an opportunity to handle one of the bestest UKF in my Faculty which is Teater Biru Merah. You can check us out on @teaterbirumerah(ig), the EXperience have been really cool for my self, i've tried so many new things that i've never imagine i could do. I learn a lot, and i grow a lot. I'm in love with the team endlessly. </p>
        </div>
    </div>
  
    <div class="accordion_wrap">
        <div class="accordion_header">
            Host of POBSI<a href="#" class="reorder-up"><i class="fa fa-arrow-circle-o-up"></i></a><a href="#" class="reorder-down"><i class="fa fa-arrow-circle-o-down"></i></a>
        </div>
        <div class="accordion_body">
            <p>Being a host has been a thing that i enjoy since i'm in High School. I am beyond grateful that i actually teared up when we finished the last episode. I meet AMAZING person while doing the job, one od them is Pak SANDIAGA UNO. If you wanna check it out, please check POBSI in your spotify</p>
        </div>
    </div>

    <div class="accordion_wrap">
        <div class="accordion_header">
        Teaching Assistant of Calculus 1<a href="#" class="reorder-up"><i class="fa fa-arrow-circle-o-up"></i></a> <a href="#" class="reorder-down"><i class="fa fa-arrow-circle-o-down"></i></a>
        </div>
        <div class="accordion_body">
            <p> This is actually surprising, that i really took the opportunity to become a Teaching Assistant, everything is undercontrol surprisingly. I meet many new person to work with not only the younger one, but also the elder!!! I'm beyond grateful that im given the chance to discuss with many new amazing person</p>
        </div>
    </div>

    <div class="accordion_wrap">
        <div class="accordion_header">
        Staff of Liason Officer at OIM UI<a href="#" class="reorder-up"><i class="fa fa-arrow-circle-o-up"></i></a> <a href="#" class="reorder-down"><i class="fa fa-arrow-circle-o-down"></i></a>
        </div>
        <div class="accordion_body">
            <p>I've done my officially just now! It was really fun meeting new people from other Faculties. I even meet many new friends and flings there, lol. I'm happy while doing my job cause i love talking so much, eventho there are many jobs to do, im enjoying every steps cause i love talking, lol.</p>
        </div>
    </div>

    <div class="accordion_wrap">
        <div class="accordion_header">
        Staff of Finance and Beverage at OH Fasilkom UI<a href="#" class="reorder-up"><i class="fa fa-arrow-circle-o-up"></i></a> <a href="#" class="reorder-down"><i class="fa fa-arrow-circle-o-down"></i></a>
        </div>
        <div class="accordion_body">
            <p>It was a GREAT EXperience doing a job that's connected to money, lol. The team was fun, so i could work comfortably around them. Honestly, all we did is laughing and playing around, but ngl we really did a great job! I hope i could do more work with them.</p>
        </div>
    </div>

    <div class="accordion_wrap">
        <div class="accordion_header">
        VPIC Event of Educare 2021<a href="#" class="reorder-up"><i class="fa fa-arrow-circle-o-up"></i></a> <a href="#" class="reorder-down"><i class="fa fa-arrow-circle-o-down"></i></a>
        </div>
        <div class="accordion_body">
            <p> Please look forward for another amazing project of mine! By the way i'm in charge with one of my fav person in uni, Yasmin Zhafira.</p>
        </div>
    </div>
</div>	
<script>
$(document).ready(function(){
    $(".accordion_header").click(function(){
       $(".accordion_header").removeClass("active");
       $(this).addClass("active");
    });
});

$(".reorder-up").click(function(){
    var $current = $(this).closest('.accordion_wrap')
    var $previous = $current.prev('.accordion_wrap');
    if($previous.length !== 0){
        $current.insertBefore($previous);
    }
    return false;
});

$(".reorder-down").click(function(){
    var $current = $(this).closest('.accordion_wrap')
    var $next = $current.next('.accordion_wrap');
    if($next.length !== 0){
        $current.insertAfter($next);
    }
    return false;
});</script>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>
