<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Tambah event</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_satu.as_p }}
            <button type="submit" class="add-btn">Tambahkan acara</button>
        </form>
    </body>
</html>