{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<section class="c" style="height:auto">
    <div class="col-md-12 mb-5">
    <div class="section-heading text-center mb-5">
        <h2 class="apa"> #<span class="pink">STORY</span><span class="royal">6.</span></h2>
    </div>
    </div>
    {% if acara %}
    <table class="table">
        <thread>
            <tr class="pink">
                <th scope="col">Nama Acara</th>
                <th scope="col">Nama Peserta</th>
                <th scope="col">Action</th>
            </tr>
        </thread>
            
        <tbody>
        {% for n_acara in acara %}
            <tr class = "white">
                <td> {{n_acara.nama_acara}} </td>
                <td> 'halo' </td>
                <td> 
                    <a href = "{% url 'story6:add_orang'%}"> 
                        <button type="submit" class="btn btn-outline-primary rounded-pill"> Tambah Peserta </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
            {% else %}
                <button type='submit'><a href = "{% url 'story6:add_event' %}"> Tambah dulu event nya kosong </a></button>
            {% endif %}
        </tbody>        
    </table>
</section>

{% endblock %}

