{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div class="c" style="height:810px">
    <div class="col-md-12 mb-5">
    <div class="section-heading text-center mb-5">
        <h2 class="apa"> #de<span class="pink">TAIL</span><span class="royal">s.</span></h2>
    </div>
    </div>
    <table class="table table-borderless">
        <tbody>
            <thead>
                <tr class="pink">
                    <th scope="col">Term</th>
                    <td> {{subjek.term}} </td>
                </tr>
                <tr class="pink">
                    <th scope="col">Subject</th>
                    <td> {{subjek.subject}} </td>
                </tr>
                <tr class="pink">    
                    <th scope="col">Credits</th>
                    <td> {{subjek.credit}} </td>
                </tr>
                <tr class="pink"> 
                    <th scope="col">Lecturer</th>
                    <td> {{subjek.lecturer}} </td>
                </tr>
                <tr class="pink">
                    <th scope="col">ClassRoom</th>
                    <td> {{subjek.classroom}} </td>
                </tr>
                <tr class="pink">
                    <th scope="col">Description</th>
                    <td> {{subjek.description}} </td>
                </tr>
            </thead>
           
                <td> 
                    <a  href="/lihat_response"> 
                        <button type="submit" class="btn btn-outline-primary rounded-pill"> Back </button>
                    </a>
                </td>
                
        </tbody>
    </table>
</div>


{% endblock %}