{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<section class="c">
    <div class="col-md-12 mb-5">
    <div class="section-heading text-center mb-5">
        <h2 class="apa"> Fill <span class="pink">The</span> <span class="royal">FORM</span></h2>
    </div>
    </div>

    <form method = 'POST'> {% csrf_token %}
        {{form.as_p}}
        <input type = 'submit' value='SEND'/>
    </form>
    </section>

{% endblock %}
