{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- navbar -->
    {% include 'navbar.html' %}

    <!-- bikin bagian-bagiannya -->
    <section id="home">
      <div class="a">
        <h1 class="hi hello">Welcome to a place where</br> you will explore</h1>
        <h3 class="bye hello">about someone named</h3>
      </div>
    </section>

    <section>
      <div class="b">
        <h1 class= "eba ukuran">EBA</h1>
        <h2 class= "ukuran warna1">1906398875</h2>
        <h2 class= "ukuran warna2">1906398875</h2>
        <h2 class= "ukuran warna3">1906398875</h2>
      </div>
    </section>

    <section class="c" id = "resume">
      <div class="container-sm d">
        <div class="row">

          <div class="col-md-12 mb-5">
            <div class="section-heading text-center mb-5">
              <h2 class="apa"> My <span class="royal">Resume</span></h2>
            </div>
          </div>

          <div class="col-md-6">
            <h2 class="mb-5"> Education </h2>

            <div class="resume-item mb-4">
              <h6> 2011 - 2013 </h6>
              <h4> Saint Michael <span class="royal"> Elementary </span> School </h4>
              <p> The first Elementary School that i went to, but i need to got out, cause My Family and I move from my old house.</p>
            </div>

            <div class="resume-item mb-4">
              <h6> 2011 - 2013 </h6>
              <h4> Saint Thomas 5 <span class="royal"> Elementary </span> School </h4>
              <p> That's actually not my first Elementary school, i am a transferred student, so yeah it was quiet hard at the first time. But i'm okay cause after all im an extrovert.</p>
            </div>


            <div class="resume-item mb-4">
              <h6> 2013 - 2016 </h6>
              <h4> Saint Thomas 1 <span class="royal">Junior</span> High School </h4>
              <p> The reason why i go to this school probally because this is one of the most famous high school in my town, so i took the test, and i'm in.</p>
            </div>


            <div class="resume-item mb-4">
              <h6> 2016 - 2019 </h6>
              <h4> Saint Thomas 1 <span class="royal">Senior</span> High School </h4>
              <p> The reason why i choose to continue going to the same school as my junior high school is probally because most of my friends go there too, and it is one of the most famous High School in my town, so i took the test(again), and i'm in. </p>
            </div>

            <div class="resume-item mb-4">
              <h6> 2019 - Present </h6>
              <h4> <span class="royal">Universitas</span> Indonesia </h4>
              <p> Tbh, sometimes it still feels like a dream. I don't know how but now i am here, taking my first ever degree in Universitas Indonesia. I thank God everyday for this opportunity, i am beyond grateful!</p>
            </div>
        </div>

          <div class="col-md-6">
            <h2 class="mb-5"> Experiences </h2>

            <div class="resume-item mb-4">
              <h6> 2019 - Present </h6>
              <h4> <span class="royal">Staff</span> of Art and Culture Department at BEM Fasilkom UI </h4>
              <p> This year, i got a job to handle Teater Biru Merah, check us out on @teaterbirumerah(ig). I actually am not good at it. </p>
            </div>

            <div class="resume-item mb-4">
              <h6> Present </h6>
              <h4> <span class="royal">Teaching Assistant</span> of Calculus 1 </h4>
              <p> This is actually surprising, that i really took the opportunity to become a Teaching Assistant, i just hope everything will be okay.</p>
            </div>

            <div class="resume-item mb-4">
              <h6> Present </h6>
              <h4> <span class="royal">Staff</span> of Liason Officer at OIM UI </h4>
              <p> Yasmin asked me to try this position so i took it, and surprisingly i passed the test.</p>
            </div>

            <div class="resume-item mb-4">
              <h6> Present </h6>
              <h4> <span class="royal">Staff</span> of Finance and Beverage at OH Fasilkom UI </h4>
              <p> Just being a staff cause i love selling things and luckily i have a super duper cool team. We actually do a really cool job, we even open a Paid Promote, bhsakakakaka</p>
            </div>

            <div class="resume-item mb-4">
              <h6> SOON </h6>
              <h4> <span class="royal">VPIC</span> Event of Educare </h4>
              <p> Please look forward for another amazing project of mine! By the way i'm in charge with one of my fav person in uni, Yasmin Zhafira.</p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="e" id = "hobby">
      <div class="container-sm f">
        <div class="row">

          <div class="col-md-12 mb-5">
            <div class="section-heading text-center mb-5">
              <h2 class="apa"> <span class="pink">Hobby</span> and<span class="royal"> Interest </span></h2>
            </div>
          </div>

              <div class="col-md-6">
                <div class="hobby-item-pink mb-4">
                  <h4>Singing</h4>
                  <p> I don’t have a good voice, but i love to sing just to relieve my stress, enjoy my bath, and making memories with my voice. I enjoy listening to music, and sing along to it.</p>
                </div>

                <div class="hobby-item-royal mb-4">
                  <h4>Public Speaking</h4>
                  <p>I love speaking so much. I actually can talk for hours and i don’t feel bored with it. I just have too many things to talk about, and i don’t really feel nervous when i meet new people.</p>
                </div>

                <div class="hobby-item-pink mb-4">
                  <h4>Socializing</h4>
                  <p>I love meeting new people, and i just don’t wanna miss a chance to get close with someone new. I love having a good long term relationship with anyone. I really treasure my </p>
                </div>

                <div class="hobby-item-royal mb-4">
                  <h4>Fashion</h4>
                  <p>As you can see, i don’t really have a good style or body, but i’m interested to learn more about fashion just to make me feel great about myself.</p>
                </div>
              </div>
    </section>

    <section class="w3-content w3-display-container cd" id="surp">
      <img class="mySlides" src="static/img/a.png" style="width:100%">
      <img class="mySlides" src="static/img/b.png" style="width:100%">
      <img class="mySlides" src="static/img/c.png" style="width:100%">
      <img class="mySlides" src="static/img/d.png" style="width:100%">
    </section>

    <section class="c" id="contact">
      <div class = "container-sm">
        <div class = "row">

          <div class="col-md-12 mb-5">
            <div class="section-heading text-center mb-5">
              <h2 class="apa"> <span class="royal">Get</span> <span class="pink">In Touch</span></h2>
            </div>
          </div>

          <div class="col-md-6">
            <form action="" class="site-form">
              <h3 class="mb-5 white">Leave Some <span class="royal">Mess</span>ages</h3>
              <div class="form-group">
                <input type="text" class="form-control px-3 py-4" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control px-3 py-4" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="email" class="form-control px-3 py-4" placeholder="Your Phone">
              </div>
              <div class="form-group mb-5">
                <textarea class="form-control px-3 py-4"cols="30" rows="10" placeholder="Write a Message"></textarea>
              </div>
              <div class="form-group mb-5">
                <input type="submit" class="btn btn-outline-primary rounded-pill px-4 py-3" value="Send Message">
              </div>
            </form>
          </div>

        <div class="col-md-6">
  				<h3 class="mb-5 white">My Contact De<span class="pink">tail</span>s</h3>
  				<ul class="site-contact-details">
            <div class="row">
  						<li>
  							<h6 class="text-uppercase">Email</h6>
  							eba.br@ui.ac.id
  						</li>
            </div>
            <div class="row">
  						<li>
  							<h6 class="text-uppercase">Phone</h6>
  							+62 812 6358 0099
  						</li>
            </div>
            <div class="row">
  						<li>
  							<h6 class="text-uppercase">Line | WhatsApp</h6>
  							anebaemiya | 0812 6358 0099
  						</li>
            </div>
            <div class="row">
  						<li>
  							<h6 class="text-uppercase">Address</h6>
  							Jalan Jamin Ginting no 88, Medan, Sumatera Utara, 20141  <br>
  							or <br>
  						  Jalan Masjid Al-Farouq, Kos Puri Delima, Kukusan Beji, Depok
  						</li>
            </div>
  				</ul>
  			</div>
    </section>


    <footer class="site-footer" style="background-color:#000000;">
  		<div class="container" >

  			<div class="row mb-5">
  				<p class="col-12 text-center foot" style="font-size: 20px">
            <span class="pink">All rights reserved </span> |<span class="royal"> This website is made by EBA</span>
          </p>
        </div>

        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <p>
              <!-- instagram -->
              <a href="https://www.instagram.com/anebaemiya/" class="social-item"><span class="icon back-blue"><img src="https://img.icons8.com/fluent-systems-filled/48/000000/instagram-new.png"/></span></a>

              <!-- twitter -->
              <a href="#" class="social-item"><span class="icon-twitter"><img src="https://img.icons8.com/android/48/000000/twitter.png"/></span></a>

              <!-- spotify -->
              <a href="https://open.spotify.com/user/31lvwas7bwnbiafpqqwwx7gqhlwq?si=M0C334BSR2mUqA0yiAsl7A" class="social-item"><span class="icon-instagram2"><img src="https://img.icons8.com/material-sharp/48/000000/spotify.png"/></span></a>

              <!-- linkedin -->
              <a href="https://www.linkedin.com/in/eba-ginting-3740811b6/" class="social-item"><span class="icon-linkedin2"><img src="https://img.icons8.com/fluent-systems-filled/48/000000/linkedin.png"/></span></a>

              <!-- line -->
              <a href="#" class="social-item"><span class="icon-vimeo"><img src="https://img.icons8.com/fluent-systems-filled/48/000000/chat.png"/></span></a>

            </p>
          </div>
        </div>
      </div>
    </footer>


    <script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 5000); // Change image every 2 seconds
    }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  {% endblock %}
</html>
