{% extends 'base.html' %}
{% block content %}
{% load static %}
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/index.html#home">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index.html#resume">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index.html#hobby">Hobby & Interest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index.html#surp">Surprises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index.html#contact">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/story1">Story 1!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newindex">About Me!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/isi_form">Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lihat_response">Response</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
{% endblock %}