{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- navbar -->
  {% include 'navbar.html' %}

    <section class = "c" id = "about">
      <div class="container">
        <div class = "row ">

          <div class="col-md-12">
            <h1 class="apa text-center pink">About<span class="royal"> Me!</span></h1>
          </div>

          <div class="col-md-12">
            <div class="hobby-item-pink mb-5">
              <h4 class="white">Name :  Eba Br Ginting</h4>
            </div>
            <div class="hobby-item-royal mb-5">
              <h4 class="white">Date of birth :  June 07, 2001</h4>
            </div>
            <div class="hobby-item-pink mb-5">
              <h4 class="white">Address :  Jamin Ginting Road, Medan, North Sumatera</h4>
            </div>
            <div class="hobby-item-royal mb-5">
              <h4 class="white">Zip code :  20141</h4>
            </div>
            <div class="hobby-item-pink mb-5">
              <h4 class="white">Email :  eba.br@ui.ac.id</h4>
            </div>
            <div class="hobby-item-royal mb-5">
              <h4 class="white">Phone :  +62-812-6358-0099</h4>
            </div>
            <div class="hobby-item-pink mb-5">
              <h4 class="white">Undergraduate student at Faculty of Computer Science Universitas Indonesia</h4>
            </div>
            <div class="hobby-item-royal mb-5">
              <h4 class="white">Student ID :  1906398875</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="c" id="spot">
      <div class="container">
        <div class="row">

          <div class="col-md-12 mb-5">
            <h1 class="apa text-center royal">Best<span class="pink"> Album!</span></h1>
          </div>

          <div class="col-md-12">
            <div class=" mb-5">
              <h1 class="white"> Praise and Worship </h1>
            </div>
          </div>

          <div class="mb-5">
            <iframe src="https://open.spotify.com/embed/album/6MQZ9pVXzVsA50a0wYFImm" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin-right : 110px"></iframe>
            <iframe src="https://open.spotify.com/embed/album/5afUmwQPcIv6g6Yi5DW7VB" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin-right : 110px"></iframe>
            <iframe src="https://open.spotify.com/embed/album/5Rb8R5i1XkZIFCKUyR2PZD" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>

          <div class="col-md-12">
            <div class="mb-5">
              <h1 class="white"> K-POP </h1>
            </div>
          </div>

        <div class="mb-5">
          <iframe src="https://open.spotify.com/embed/album/53pJcIJBdlm5rhVhjSnvHn" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin-right : 110px"></iframe>
          <iframe src="https://open.spotify.com/embed/album/75sPv82oaDKYjtuuS4l3Vc" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin-right : 110px"></iframe>
          <iframe src="https://open.spotify.com/embed/album/31ln9LpD1WyhFlOvDp9YJc" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>

        <div class="col-md-12">
          <div class="mb-5">
            <h1 class="white"> MIX </h1>
          </div>
        </div>

        <div class="mb-5">
        <iframe src="https://open.spotify.com/embed/album/2fYhqwDWXjbpjaIJPEfKFw" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin-right : 110px"></iframe>
         <iframe src="https://open.spotify.com/embed/album/5u9zb0LiJTVpTyhNUgNkLp" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin-right : 110px"></iframe>
          <iframe src="https://open.spotify.com/embed/album/7fekFzT8lQv8sZjPGn7JqW" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe>
          
        </div>


        </div>
      </div>
    </section>


    <footer class="site-footer" style="background-color:#000000 ">
  		<div class="container" >

  			<div class="row mb-5">
  				<p class="col-12 text-center foot" style="font-size: 20px">
            <span class="pink">All rights reserved </span> |<span class="royal"> This website is made by EBA</span>
          </p>
        </div>

        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <p>
              <!-- instagram -->
              <a href="https://www.instagram.com/anebaemiya/" class="social-item"><span class="icon back-blue"><img src="https://img.icons8.com/fluent-systems-filled/48/000000/instagram-new.png"/></span></a>

              <!-- twitter -->
              <a href="#" class="social-item"><span class="icon-twitter"><img src="https://img.icons8.com/android/48/000000/twitter.png"/></span></a>

              <!-- spotify -->
              <a href="https://open.spotify.com/user/31lvwas7bwnbiafpqqwwx7gqhlwq?si=M0C334BSR2mUqA0yiAsl7A" class="social-item"><span class="icon-instagram2"><img src="https://img.icons8.com/material-sharp/48/000000/spotify.png"/></span></a>

              <!-- linkedin -->
              <a href="https://www.linkedin.com/in/eba-ginting-3740811b6/" class="social-item"><span class="icon-linkedin2"><img src="https://img.icons8.com/fluent-systems-filled/48/000000/linkedin.png"/></span></a>

              <!-- line -->
              <a href="#" class="social-item"><span class="icon-vimeo"><img src="https://img.icons8.com/fluent-systems-filled/48/000000/chat.png"/></span></a>

            </p>
          </div>
        </div>
      </div>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  {% endblock %}
</html>
