{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<section class="c" style="height:auto">
    <div class="col-md-12 mb-5">
    <div class="section-heading text-center mb-5">
        <h2 class="apa"> #res<span class="pink">PON</span><span class="royal">ses.</span></h2>
    </div>
    </div>
    <title> jadwal </title>
    <table class="table ">
            <thead>
                <tr class="pink">
                    <th scope="col">Subject</th>
                    <th scope="col">lecturer</th>
                    <th scope="col">Details</th>
                    <th scope="col" class="text-center">Delete</th>
                </tr>
            </thead>
            
            <tbody>
                {% for j in jadwal %}
                <tr class = "white">
                    <td> {{j.subject}} </td>
                    <td> {{j.lecturer}} </td>
                    <td> 
                        <a  href="{% url 'story3:detail' j.id %}​​"> 
                            <button type="submit" class="btn btn-outline-primary rounded-pill"> Details </button>
                        </a>
                    </td>
                     <td> 
                        <a  href="{% url 'story3:delete' id=j.id %}"> 
                            <button type="submit" class="btn btn-outline-primary rounded-pill"> Delete </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
</section>

{% endblock %}