body {
  padding : 0;
  margin: 0;
  font-family: Mulish;
}


.bg-purple {
  background-color: #5D2B53 !important;
  height: 50px;
} 

.navbar{
  width : 100vw;
}

.navigation{
  text-align: center;

}

.nav-link{
 text-align: center;
}

div li{
  display: inline-block;
  margin : 0px 25px;
  color : #FFFFFF;
  font-size : 15px;
}

.nav-link{
 text-align: center;

}

.warna{
  font-family: 'Mulish', sans-serif;
  position: relative;
  text-align: left;
  width: 989px;
  height: 191px;
  left: 316px;
  top: 260px;
  font-style: normal;
  font-weight: 900;
  line-height: 90px;
  color: #914489;
}

.a{
  background-image: url("img/nebula.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 100vw; */
  height: 810px; }

.hello{
  position: relative;
  top: 260px;
  text-align: center;
  font-style: normal;
  color: #FFFFFF;
}

.hi {
  font-size: 72px;
  font-weight: 900;
  line-height: 90px;
}

.bye {
  font-size: 30px;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
}

.b{
    background-image: url("img/wall.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 810px;
}

.ukuran {
  position: relative;
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 120px;
  text-align: center;
}

.warna1 {
  top: -10%;
  color: #914489;
}

.warna2 {
  left: 0%;
  right: 0%;
  top: -18%;
  color: rgba(89, 85, 84, 0.5);
  z-index: 1;
}

.warna3 {
  color: #7A5484;
  z-index: 1;
  top: -26%;
}

.eba {
  left: 0%;
  right: 0%;
  top: 14%;
  bottom: 0%;
  z-index: 2;
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.6));
  color: #FFFFFF;
}

.d{
  background-color: #000000;
  height: auto;
  color: #FFFFFF;
}

.container-sm{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  /* margin-right: auto;
  margin-left: auto; */
}

.c{
  /* width: vw100; */
  padding: 5em;
  background-color: #000000;
  height : auto;
  /* margin-right: 0; */
  font-family: Mulish;
}

.cd{
  /* width: vw100; */
  padding: 5em;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.993075) 27.62%, rgba(128, 62, 139, 0.88) 114.59%);
  height : auto;
  /* margin-right: 0; */
  font-family: Mulish;
}

.apa{
  text-align: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 84px;
  line-height: 150px;
  color: #FFFFFF;
}

.mb-5{
  margin-bottom: 3rem;
}

.resume-item{
  padding: 30px;
  background: linear-gradient(180deg, rgba(90, 32, 74, 0.85) 0%, rgba(116, 34, 86, 0.539966) 0%, rgba(90, 32, 74, 0.85) 0%, #000000 100%);
  border-radius: 20px;
}

.mb-4 {
  margin-bottom: 1.5rem ;
}

h6{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #EB40BB;
}

h4 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.royal{
  color: #4169e1 ;
}

.pink{
  color: #EB40BB ;
}


p{
  font-family: Mulish;
  font-style: normal;
  color: #FFFFFF;
  opacity: 0.5;
}

.e{
  background-image: url("img/hobby6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5em;
  /* margin-right: -5px; */
  /* width: 100vw; */
}

.f{
  background: transparent;
  width: 1600px;
  height: 810px;
  color: #FFFFFF;
  width: 1600px;
  height: 1200px;
}

.hobby-item-pink {
  padding: 10px;
  border: 2px solid #EB40BB;
  border-radius: 15px;
}

.hobby-item-royal {
  padding: 10px;
  border: 2px solid #4169e1;
  border-radius: 15px;
}

.btn-primaries {
  border-radius: 10px;
}

.col-sm{
  width:100px;
  height: 100px;
}

.site-contact-details li {
  list-style: none;
  margin-bottom: 20px; }
  .site-contact-details li > span {
    color: #2c3e50;
    letter-spacing: .1em;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block; }

.white {
  color : #FFFFFF;
}

.site-form{
  font-family: Mulish;
}

.site-footer {
  padding: 3em 0; }
  .site-footer p:last-child {
    margin-bottom: 0; }
  .site-footer .social-item {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    background: #FFFFFF;
    font-size: 22px;
    margin: 0 10px; }
    .site-footer .social-item > span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
