{% extends 'story9/base.html' %}

{% block content %}
<div class = "container-sm">
    <div class="col-md-12 mb-5">
        <div class="section-heading text-center mb-5">
            <h2 class="apa"> <span class="yellow"> LOG </span> <span class="red">In </span></h2>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <form method="post">
        <div class = "coba">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-danger"> Log In </button>
        </form>
    <h4 class = "pad-form"> Don't have any account? <a href ="{% url 'story9:signup' %}"> <strong span class = "red"> Sign Up </strong></a>now!
            </h4>
    </div>
</div>
{% endblock %}