{% extends 'story9/base.html' %}

{% block content %}
<div class = "container-sm">
    <div class="col-md-12 mb-5">
        <div class="section-heading text-center mb-5">
            <h2 class="apa"> <span class="yellow"> SIGN </span> <span class="red"> Up </span></h2>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <form method="post" class="coba">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"  class="btn btn-outline-danger"> Sign Up </button>
        </form>
    </div>
{% endblock %}