{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'story8/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class ="container">
        <h1 class = "title"> Go FIND your BOOKS! </h1>
        <input class = "kotak" id="keyword" placeholder="Masukkan kata kunci">
        <table id="daftar_isi" border="1" class = "text-align center"></table>
    </div>

<script type="text/javascript">
    $("#keyword").keyup( function(){
        var ketikan = $("#keyword").val();
        //panggil dengan teknik AJAX
        $.ajax({
            url: '/data?q=' + ketikan,
            success: function(data) {
                var array_items = data.items;
                $("#daftar_isi").empty();
                for (i = 0; i < array_items.length; i++) {
                    var judul = array_items[i].volumeInfo.title;
                    var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                    var link = array_items[i].volumeInfo.previewLink;
                   $('#daftar_isi').append('<tr><td><a href="' + link + '">' + judul + '</a>' + '</td><td><img src =' + gambar + '></td></tr>');
                }
            }
        });
    });
</script>
</body>
</html>