body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Epilogue', sans-serif;
  color: blue;
}

h2{
  font-family: 'Epilogue', sans-serif;
}

footer {
  text-align: center;
  background-color: powderblue;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar, p{
  font-family: 'Baloo Tammudu 2', cursive;
}

.coba {
  font-size: 10px;
}

img {
  float :right;
}
