body {
    background-color: black;
}

.wellcom{
    font-family: Mulish;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 150px;
    color: #FFFFFF;
}

.container-sm{
    min-height: 50vh;
}

.one{
    height: 100px;
}

.yellow{
    color: #FFD162;
}

.red{
    color : #DE4F22;
}

.login{
    text-align: center;
}

.apa{
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 900;
    font-size: 84px;
    line-height: 150px;
    color: #FFFFFF;
    height: 125px;
}

.coba{
    color : #FFD162;
    padding: 20px;

}

.btn-a{
    border-radius: 30px;
}

.pad-form{
    margin-top: 25px ;
}

.helptext{
    visibility: hidden;
    display: none;
}


input{
    background-color : white;
    border : none;

}

.errorlist{
    color : red;
}

label{
    margin-right: 1rem ;
}